@model List<AlgebraWebShop2025.Models.OrderItem>

<table class="table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Discount</th>
            <th>Item total</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td> @item.ProductTitle </td>
                <td> @item.Quantity.ToString("0.00") </td>
                <td> @item.Price.ToString("0.00") €</td>
                <td> @item.Discount.ToString("0.00") % </td>
                <td> @((item.Price*item.Quantity*(1-item.Discount/100)).ToString("0.00")) €</td>
            </tr>
        }
    </tbody>
</table>