@model List<AlgebraWebShop2025.Extensions.CartItem>
@{
    ViewData["Title"] = "Cart";
}

@ViewBag.Cart

@if(Model.Count == 0)
{
    <div class="text-center">
        <h1 class="display-4"> Your cart is empty! </h1>
        <hr />
        <a asp-controller="Home" asp-action="Product"> Continue shopping </a>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4"> Cart items </h1>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Product</th>
                <th></th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Discount</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>
                        <a class="btn btn-sm btn-danger" asp-action="RemoveFromCart"
                                asp-route-productId="@item.Product.Id">Remove</a>
                    </td>
                    <td><a asp-controller="Home" asp-action="SingleProduct" asp-route-id="@item.Product.Id" style="text-decoration:none"> @item.Product.Title </a></td>
                    <td>
                        @{
                            string imgurl = "/Media/No_image.png";
                            if (item.Product.Images.Count > 0)
                            {
                                var img = item.Product.Images.Where(i => i.IsMain).FirstOrDefault();
                                if (img != null) imgurl = img.URL;
                                else
                                {
                                    imgurl = item.Product.Images.First().URL;
                                }
                            }
                        }
                        <a asp-controller="Home" asp-action="SingleProduct" asp-route-id="@item.Product.Id"><img src="@imgurl" width="80" /></a>
                    </td>
                    <td>@item.Product.Price.ToString("0.00") €</td>
                    <td>
                        <form method="post" asp-action="UpdateQuantity">
                            <input type="hidden" name="productId" value="@item.Product.Id" />
                            <input type="number" name="quantity" title="quantity" value="@item.Quantity.ToString("0")" />
                            <input type="submit" class="btn btn-success btn-sm" value="Update" />
                        </form>
                    </td>
                    <td>@item.Product.Discount.ToString("0.00") %</td>
                    <td>@item.getTotal().ToString("0.00") €</td>
                </tr>
            }
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td> <b>Total price: @ViewBag.TotalPrice.ToString("0.00") € </b> </td>
            </tr>
        </tbody>
    </table>

    <hr />

    <a class="btn btn-primary btn-lg float-start" asp-controller="Home" asp-action="Product">Continue shopping</a>
    <a class="btn btn-success btn-lg float-end" asp-controller="Home" asp-action="Order">Order products</a>
}