@model AlgebraWebShop2025.Models.Order

@{
    ViewData["Title"] = "MyOrderDetails";
}

<h1>Order Details</h1>

<div>
    <h4>Order @Model.Id</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingZIP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingZIP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingZIP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingZIP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Message)
        </dd>
    </dl>
    <div class="row">
        <h3>Ordered items:</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Product
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Discount
                    </th>
                    <th>
                        Item total
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model.OrderItems)
                {
                    <tr>
                        <td>
                           <a asp-action="SingleProduct" asp-route-id="@item.ProductId" style="text-decoration:none"> @item.ProductTitle </a>
                        </td>
                        <td>
                            @item.Quantity
                        </td>
                        <td>
                            @item.Price.ToString("0.00") €
                        </td>
                        <td>
                            @item.Discount %
                        </td>
                        <td>
                            @((item.Price*item.Quantity * (1-item.Discount/100)).ToString("0.00")) €
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div>
    <a asp-action="MyOrder">Back to List</a>
</div>
